@model IEnumerable<LanchesMac.Models.Snack>

<div>
    <h2>Todos os Lanches</h2>
</div>

@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.SnackName</h4>
        <p><img src="@lanche.ImageUrl"/></p>
        <h3>Preço: @lanche.Price.ToString("c")</h3>
    </div>
}
